.logo {
	transition: all .4s;

	&:hover {
		transform: scale(1.1);
	}

	&__image {
		@media (max-width: 580px) {
			display: block;
			max-width: 60px;
		}
	}

	transition: all .4s;

		&:hover {
			transform: scale(1.1);
		}
}
