.nav {
	@media (max-width: 1570px) {
		display: none;
	}

	&__list {
		@include flex-box();

		@media (max-width: 1570px) {
			flex-direction: column;
		}
	}

	&__item {
		transition: all .4s;

		&:hover,
		&:active {
			transform: scale(1.1);
		}
	}

	&__item:not(:last-child) {
		padding: 0 63px 0 0;

		@media (max-width: 1570px) {
			padding: 0 0 30px 0;
		}
	}

	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #2B2B2A;
		position: relative;

		&--opens::after {
			content: url(../images/arrow-down.svg);
			position: absolute;
			height: 100%;
			top: -20%;
			left: calc(100% + 5px);
		}
	}

	&__phone {
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;
		color: #2B2B2A;
		transition: all .4s;

		@media (max-width: 1570px) {
			text-align: center;
			margin: 100px 0 0 0;
		}

		@media (max-width: 580px) {
			margin: 30px 0 0 0;
		}

		&:hover,
		&:active {
			transform: scale(1.1);
			text-decoration: underline;
		}
	}
}
