@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.page {
  font-family: "Roboto", sans-serif;
}

.body__categories {
  padding: 160px 0 146px 0;
}
@media (max-width: 580px) {
  .body__categories {
    padding: 60px 0;
  }
}
.body.active {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header__main {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 580px) {
  .header__main {
    padding: 13px 16px;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu-btn {
  display: none;
  min-width: 25px;
  height: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1570px) {
  .header__menu-btn {
    display: block;
  }
}
.header__menu-btn span {
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2B2B2A;
  border-radius: 5px;
}
.header__menu-btn span:nth-of-type(2) {
  top: calc(50% - 7px);
}
.header__menu-btn span:nth-of-type(3) {
  top: calc(50% + 7px);
}
.header__menu-btn.active {
  height: 25px;
}
.header__menu-btn.active span:nth-of-type(1) {
  display: none;
}
.header__menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.header__menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.header__button {
  font-weight: 400;
  font-size: 16px;
  height: 55px;
  color: #FFFFFF;
  min-width: 209px;
  text-align: center;
  background: #2B2B2A;
  border-radius: 15px;
}
@media (max-width: 1570px) {
  .header__button {
    margin: 0 26px 0 0;
  }
}
@media (max-width: 580px) {
  .header__button {
    min-width: max-content;
    background: none;
    font-size: 14px;
    color: #2B2B2A;
  }
}
.header__content {
  height: 100vh;
  background-color: #2B2B2A;
}
.header__background {
  position: relative;
}
.header__background-img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1570px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1570px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__item:not(:last-child) {
  padding: 0 63px 0 0;
}
@media (max-width: 1570px) {
  .nav__item:not(:last-child) {
    padding: 0 0 30px 0;
  }
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B2B2A;
  position: relative;
}
.nav__link--opens::after {
  content: url(../images/arrow-down.svg);
  position: absolute;
  height: 100%;
  top: -20%;
  left: calc(100% + 5px);
}
.nav__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #2B2B2A;
}
@media (max-width: 1570px) {
  .nav__phone {
    text-align: center;
    margin: 100px 0 0 0;
  }
}

.categories__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #2B2B2A;
  text-align: center;
  padding: 0 0 76px 0;
}
@media (max-width: 580px) {
  .categories__title {
    margin: 0 auto;
    max-width: 343px;
    font-size: 30px;
    padding: 0 0 44px 0;
  }
}
.categories__items {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: 115px;
  gap: 77px 60px;
  justify-content: center;
}
@media (max-width: 940px) {
  .categories__items {
    grid-template-columns: 150px 150px;
    gap: 47px 60px;
  }
}
@media (max-width: 580px) {
  .categories__items {
    gap: 47px 0;
  }
}
.categories__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 137px;
}
.categories__item--hidden-on-desktop {
  display: none;
}
@media (max-width: 940px) {
  .categories__item--hidden-on-desktop {
    display: flex;
  }
}
@media (max-width: 940px) {
  .categories__item--hidden-on-mobile {
    display: none;
  }
}
.categories__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #2B2B2A;
}

@media (max-width: 580px) {
  .logo__image {
    display: block;
    max-width: 60px;
  }
}

.burger-menu {
  display: none;
  height: 100vh;
}
@media (max-width: 1570px) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 150px 0 0 0;
    background-color: #FFFFFF;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .burger-menu.active {
    transform: translateX(0);
  }
}
.burger-menu__nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
